/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end reset style */
@font-face {
    font-family: 'cuprum';
    src: url('../fonts/cuprum.woff2') format('woff2'), url('../fonts/cuprum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cuprum-bold';
    src: url('../fonts/cuprumbold.woff2') format('woff2'), url('../fonts/cuprumbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cuprum-bold-italic';
    src: url('../fonts/cuprumbolditalic.woff2') format('woff2'), url('../fonts/cuprumbolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cuprum-italic';
    src: url('../fonts/cuprumitalic.woff2') format('woff2'), url('../fonts/cuprumitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ptsans';
    src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ptsansbold';
    src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cf:before, .cf:after, .row:before, .row:after {
    content: " ";
    display: table;
}

.row:after, .row:after {
    clear: both;
}

body {
    font-family: 'cuprum', sans-serif;
    color: #000000;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/*------------------grid--------------------------*/
.row {
    width: 100%;
}

.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    margin: 0 10px;
}

.col-2 {
    width: 140px;
}

.col-3 {
    width: 220px;
}

.col-4 {
    width: 300px;
}

.col-5 {
    width: 380px;
}

.col-6 {
    width: 460px;
}

.col-7 {
    width: 540px;
}

.col-8 {
    width: 620px;
}

.col-12 {
    width: 940px;
}

/* ------------------ end grid-----------------*/

ul li {
    list-style: none;
    float: left;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    color: inherit;
    border: none;
    outline: 0;
    cursor: pointer;
}

header {
    background-color: #f4f8fa;
}

.top_info {
    /*padding: 54px 0 44px;*/
    padding: 46px 0 33px;
}

.top_nav {
    color: white;
    height: 42px;
    /*background-color: #293449;*/
    background-color: #33445b;

}

.top_nav a.logo {
    width: 220px;
    height: 47px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 42px;
    margin-left: 10px;
}

.top_nav a.logo:hover {
    background-color: #ca2c37;
}

.top_nav a.logo:focus, a.logo:active {
    background-color: #ba2732;
}

.top_nav .search {
    width: 270px;
    height: 42px;
    border: 0;
    background-color: transparent;
}

.top_nav .search:hover {
    background-color: #212a3a;
    background-position: 0 -2px;
}

.top_nav input.search {
    width: 270px;
    font-size: 17px;
    line-height: 42px;
    border: none;
    color: white;
    font-family: 'cuprum', sans-serif;
    outline: 0;
    padding-left: 48px;
    background-position: -5px -87px;

}

.top_nav input.icon.search:focus, .top_nav input.icon.search:active {
    background-position: -1px -46px;
}

.top_nav input.search:focus, .top_nav input.search:active {
    background-color: #ffffff;
    color: #000000;
}

::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 17px;

}

::-moz-placeholder {
    color: #ffffff;
    font-size: 17px;

}

:-moz-placeholder {
    color: #ffffff;
    font-size: 17px;

}

:-ms-input-placeholder {
    color: #ffffff;
    font-size: 17px;

}

.top_nav a {
    font-size: 17px;
    width: 150px;
    text-align: center;
    display: block;
    line-height: 42px;
}

.top_nav a:hover {
    background-color: #212a3a;
}

.top_nav a:focus, .top_nav a:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.top_nav a.zakaz {
    background-color: #63a63e;
}

.top_nav a.zakaz:hover {
    background-color: #5fbb2d;
}

.top_nav a.zakaz:focus, .top_nav a.zakaz:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

.top_nav a .img_icon {
    float: left;
    margin: 13px -13px 0 17px;
    opacity: 0.3;
}

.top_nav a:hover .img_icon {
    opacity: 1;
}

.top_nav a.basket:focus .img_icon.basket, .top_nav a.basket:active .img_icon.basket {
    opacity: 0.5;
}

.top_nav a.bookmark:focus .img_icon.bookmark, .top_nav a:active.bookmark .img_icon.bookmark {
    opacity: 0.5;
}

h1 {
    color: #ee3643;
    font-family: 'cuprum-italic', sans-serif;
    font-size: 16px;
    line-height: 23px;
    padding: 0 40px;
}

address {
    width: 270px;
}

address a {
    color: #e9292a;
    font-size: 21px;
    text-align: center;
    display: block;
    border: 3px solid #ffffff;
    height: 44px;
    line-height: 37px;
    padding-left: 17px;
}

address p {
    padding: 10px;
    color: #32425c;
    font-size: 14px;
    text-align: center;
}

.button_top_wrap {
    text-align: right;
}

.btn-white {
    background-color: #ffffff;
    color: #000000;
    font-size: 21px;
    padding: 0 25px;
    line-height: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;

}

.btn-white:hover {
    color: #ee3643;
}

button.btn-white:active, button.btn-white:focus {
    color: rgba(0, 0, 0, 0.3);
}

.btn-white.voiti {
    background-position: -6px -403px;
    background-color: white;
    padding-left: 43px;
    background-color: white;
}

.btn-white.voiti:hover {
    background-position: -6px -346px;
}

button.btn-white.voiti:active, button.btn-white.voiti:focus {
    background-position: -6px -346px;
}

nav {
    height: 60px;
    box-shadow: inset 0 -5px 0 #293449;
    background: #32425c linear-gradient(to top, #32425c 0%, #32425c 99%, #32425c 100%);
    color: white;
    margin: 0 10px 60px;
    padding: 0 10px;
}

nav li a {
    padding: 0 32px;
    line-height: 60px;
    font-size: 17px;
    font-weight: 400;
    display: block;
}

nav li a:hover {
    background-color: #293449;
}

nav li a:active, nav li a:focus, nav li a.active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}

.promo_wrap {
    padding-top: 50px;
}

.promo {
    height: 123px;
    background-color: #f6b22d;
    margin: 10px 10px;
    padding: 22px 0 22px 25px;
    position: relative;
    color: #fff;
    font-family: cuprum-bold, sans-serif;
    font-size: 24px;
    line-height: 30px;
}

.promo.promo_orange {
    background-color: #f6b22d;
}

.promo.promo_blue {
    background-color: #4aafde;
}

.promo.promo_pink {
    background-color: #cc79d1;
}

.promo.promo_green {
    background-color: #85d179;
}

.promo .img_wrapp {
    padding-top: 10px;
    float: right;
    width: 140px;
    text-align: center;
}

.promo img {

}

.promo_new {
    position: absolute;
    top: 0;
    right: 0;
}

.btn_promo {
    width: 135px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
}

.btn_promo:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn_promo:active, .btn_promo:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.slider_conteiner {
    margin: 10px auto;
    overflow: hidden;
    height: 266px;
    position: relative;
}

.slider {
    /*margin-left: -1860px;*/
    width: 2480px;
    /*height: 266px;*/
    clear: both;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;

}

.slider_item {
    position: relative;
    height: 266px;
    float: left;
    width: 620px;
    color: #ffffff;
    transition: all 2ms;
}

.slider_item img {
    position: absolute;
    z-index: -1;
    /*height: 266px;*/
    display: block;
}

.slider_info {
    color: #ffffff;
    font-family: 'ptsans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding: 26px;
}

.slider_info span {
    font-family: cuprum-bold, sans-serif;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
}

.btn_red {
    text-align: center;
    height: 38px;
    background-color: #ee3643;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #ffffff;
    padding: 0 40px;
    font-family: 'cuprum', sans-serif;
}

.btn_red:hover {
    background-color: #ca2c37;
}

.btn_red:active, .btn_red:focus {
    background-color: #ba2732;
}

.btn_red.slider_button {
    width: 195px;
    position: absolute;
    bottom: 22px;
    left: 25px;
}

.arrow {
    position: absolute;
    top: 114px;
    z-index: 10;
}

.arrow.arrow_left {
    left: 24px;
}

.arrow.arrow_right {
    right: 24px;
}

#pagination {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 36px;
}

#pagination li {
    list-style: none;
    float: left;
    margin: 0 5px;
}

#pagination li {
    display: block;
    width: 10px;
    height: 10px;
    text-indent: -10000px;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#pagination li.active {
    background: #ee3643;
    border: 2px solid #fff;

}

/*#pagination li a {*/
/*display:block;*/
/*width:10px;*/
/*height:10px;*/
/*text-indent:-10000px;*/
/*background: #fff;*/
/*border-radius: 10px;*/
/*-moz-border-radius: 10px;*/
/*-webkit-border-radius: 10px;*/
/*}*/

/*#pagination li a.active {*/
/*background: #ee3643;*/
/*border: 2px solid #fff;*/

/*}*/
.row.popular {
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 40px 10px 9px;
    width: 940px;
    background-color: #f7f3ec;
}

.popular .col-8, .popular .col-4 {
    padding: 33px 30px 28px;
    margin-left: 0;
}

.popular .col-4 {
    text-align: right;
    padding: 25px 24px 26px;
    margin-right: 0;
    color: #ffffff;
}

.btn_red.all_popular {
    width: 250px;
}

.product div.col-3 {
    height: 318px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    margin: 10px;
    position: relative;
}

.product .img_wrap {
    height: 164px;
    line-height: 164px;
    text-align: center;
    display: block;
}

.product_item.box.hover .img_wrap {
    display: none;
}

.product_item.box.out .img_wrap {
    display: block;
}

.product_item.box.hover .button_wrap {
    display: block;
}

.product_item.box.out .button_wrap {
    display: none;
}

.product .button_wrap {
    height: 164px;
    display: none;
}

.product .img_wrap img {
    vertical-align: middle;
}

.button_wrap {
    text-align: center;
    padding-top: 44px;
}

.btn_green {
    margin: 7px auto 0;
    text-align: center;
    width: 135px;
    height: 38px;
    border: 3px solid #63a63e;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: #32425c;
    font-family: 'cuprum', sans-serif;
}

.btn_green:hover {
    border: 3px solid #32425c;
}

.btn_green:active, .btn_green:focus {
    border: 3px solid #32425c;
    opacity: 0.3;
}

.btn_green.buy {
    box-shadow: inset 0 -3px 0 #367315;
    background-color: #63a63e;
    border: none;
    color: #ffffff;
    position: relative;
}

.btn_green.buy:hover {
    box-shadow: inset 0 -3px 0 #367315;
    background-color: #5fbb2d;
}

.btn_green.buy:active, .btn_red.buy:focus {
    background-color: #518534;
    box-shadow: none;
    opacity: 1;
}

.btn_green.buy .img_icon.basket {
    opacity: 0.3;
    position: absolute;
    left: 12px;
}

.btn_green.buy:hover .img_icon.basket {
    opacity: 1;
}

.btn_green.buy:active .img_icon.basket, .btn_red.buy:focus .img_icon.basket {
    opacity: 1;
}

.title_product {
    color: #000000;
    font-family: 'ptsansbold', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 18px 30px 10px;
}

.old_price {
    color: #999999;
    font-family: 'ptsansbold', sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    text-transform: uppercase;
    text-align: center;
    height: 18px;
}

.new_price {
    color: #ffffff;
    font-family: 'ptsansbold', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #ee3643;
    width: 120px;
    height: 38px;
    margin: 13px 36px 21px 43px;
    text-align: center;
    line-height: 38px;
    position: relative;
    padding-left: 19px;

}

.new_price:after {
    content: " ";
    position: absolute;
    right: -20px;
    top: 0;
    border-style: solid;
    border-width: 19px 0 19px 20px;
    border-color: transparent transparent transparent #ee3643;
}

.row.popular.manuf {
    margin-top: 10px;
}

.manufacture div.col-3 {
    height: 145px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    margin: 10px;
    text-align: center;
    line-height: 145px;
}

.manufacture div.col-3 img {
    vertical-align: middle;
}

.manufacture div.col-3 a {
    display: block;
    width: 100%;
    height: 100%;
}

.manufacture div.col-3 a:active img, .manufacture div.col-3 a:focus img {
    opacity: 0.3;
}

.manufacture div.col-3 a:active, .manufacture div.col-3 a:focus,
.manufacture div.col-3:active, .manufacture div.col-3:focus {
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.product div.col-3:hover, .manufacture div.col-3:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.services {
    background-color: #f5f8fa;
    font-family: 'ptsans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin-top: 77px;
}

h2 {
    font-family: 'cuprum', sans-serif;
    font-size: 30px;
    text-transform: uppercase;

}

.services_info {
    padding-top: 68px;
    padding-bottom: 20px;
}

.services_info p {
    margin-top: 27px;
}

.services_tab .col-8 {
    position: relative;
    height: 333px;
}

.services_tab img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;

}

.services_tab ul {
    padding: 49px 0;
    width: 240px;
    position: relative;
}

.services_tab ul:after {
    content: url("../images/tabs-shadow.png");
    position: absolute;
    top: 0;
    right: 0;
}

.services_tab ul li a {
    width: 240px;
    height: 61px;
    box-shadow: inset 0 -1px 0 #293449;
    background-color: #32425c;
    display: block;
    color: #ffffff;
    font-family: 'cuprum-bold', sans-serif;
    font-size: 21px;
    line-height: 61px;
    padding-left: 22px;
}

.services_tab ul li a.active {
    background-color: white;
    color: #32425c;

}

.services_tab ul li a.active:last-child {
    box-shadow: inset 0 -1px 0 white;
}

.services_tab ul li a.active:hover {
    background-color: white;
    color: #32425c;
}

.services_tab ul li a:hover {
    background-color: #293449;
}

.services_tab .content {
    padding: 52px 0;
}

.services_tab .content p {
    max-width: 380px;
    z-index: 2;
    position: relative;
}

.services_tab .content h3 {
    color: #32425c;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'cuprum', sans-serif;
    margin-bottom: 32px;
}

ul.tab {
    overflow: hidden;
}

.tabcontent {
    display: none;
}

.tabcontent:first-child {
    display: block;
}

.tabcontent .btn_red {
    margin-top: 40px;
}

.contact_info {
    padding-top: 82px;
    padding-bottom: 86px;
    font-family: 'ptsans', sans-serif;
    font-size: 13px;
    line-height: 24px;

}

.contact_info .container {
    position: relative;
}

.contact_info h2 {
    margin-bottom: 30px
}

.contact_info p {
    padding-bottom: 23px;

}

.contact_info .col-8 {
    padding-right: 40px;
}

.contact_info_ul {
    margin-bottom: 15px;
}

.contact_info_ul li {
    float: none;
    font-family: 'cuprum', sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 20px;
    margin-left: 37px;
    position: relative;
}

.contact_info_ul li:before {
    content: url("../images/red-line.png");
    position: absolute;
    left: -37px;
    top: -5px;
}

.btn_red.write_us {
    width: 100%;
}

a.popup {
    display: block;
    padding: 10px 0 30px;
}

.map_popup {
    position: absolute;
    top: -40px;
    z-index: 100;
    display: none;
}

.map_popup_img {
    width: 100%;
    background-color: #434343; /* layer fill content */
    -moz-box-shadow: 0 0 15px 1px rgba(35, 31, 32, .5); /* drop shadow */
    -webkit-box-shadow: 0 0 15px 1px rgba(35, 31, 32, .5); /* drop shadow */
    box-shadow: 0 0 15px 1px rgba(35, 31, 32, .5); /* drop shadow */
}

.close_button {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 120;
}

.map_popup .close_button {
    right: 20px;
}

.write_us_block {
    position: absolute;
    top: 123px;
    z-index: 100;
    display: none;
    left: 50%;
    margin-left: -310px;
    width: 620px;
    height: 430px;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
    background-color: #ffffff;
    border-top: 7px solid #ee3643;
}

.form_wrapper {
    width: 460px;
    margin: 0 auto;
    padding-top: 26px;
    background-color: #ffffff;
}

.title_form {
    color: #000000;
    font-size: 18px;
    line-height: 18px;
    display: block;
    padding-top: 22px;
    padding-bottom: 9px;
    font-family: "cuprum", sans-serif;
}

.half {
    width: 50%;
    float: left;
}

.half.right {
    padding-left: 11px;
}

.message {
    clear: both;
}

form input {
    width: 220px;
    height: 38px;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
    outline: none;
    padding: 5px 14px;
}

form textarea {
    width: 460px;
    height: 114px;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
    outline: none;
    padding: 7px 14px;
    margin-bottom: 27px;
    resize: none;
}

form ::-webkit-input-placeholder {
    color: #999999;
    font-family: "ptsans", sans-serif;
    font-size: 13px;
    line-height: 18px;

}

form ::-moz-placeholder {
    color: #999999;
    font-family: "ptsans", sans-serif;
    font-size: 13px;
    line-height: 18px;

}

form :-moz-placeholder {
    color: #999999;
    font-family: "ptsans", sans-serif;
    font-size: 13px;
    line-height: 18px;

}

form :-ms-input-placeholder {
    color: #999999;
    font-family: "ptsans", sans-serif;
    font-size: 13px;
    line-height: 18px;

}

.button_wrapp {
    background-color: #f1f1f1;
    position: relative;
}

.button_wrapp::after, .button_wrapp::before {
    content: " ";
    background-color: #f1f1f1;
    width: 80px;
    height: 112px;
    display: block;
    position: absolute;
    right: -80px;
    top: 0;
}

.button_wrapp::before {
    left: -80px;
}

.button_wrapp .btn_red.write_us {
    margin: 37px auto;
    width: 460px;
}

footer {
    background-color: #32425c;
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;

}

.footer_info {
    padding-bottom: 53px;
}

.title_bootom {
    width: 220px;
    height: 68px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
    color: #ffffff;
    font-size: 30px;
    line-height: 68px;
    text-align: center;
    margin-bottom: 28px;

}

footer .col-7 {
    margin: 0;
    width: 560px;
}

.footer_menu {
    padding-top: 15px;
}

.footer_menu li {
    padding: 22px 60px 15px 0;
}

.footer_menu li:last-child {
    padding-right: 0;
}

ul.footer_menu.second li {
    color: #ffd180;
}

ul.footer_menu.second li:first-child {
    padding-left: 26px;
}

.footer_menu li a:hover {
    text-decoration: underline;
}

.footer_menu li a:active, .footer_menu li a:focus {
    opacity: 0.5;
}

.copy_block {
    background-color: #33445a;
    padding: 35px 0 31px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}

.copy_block a {
    color: #ffd180;
}

.copy_block a:hover {
    text-decoration: underline;
}

.copy_block a:active, .copy_block a:focus {
    color: #ee3643;
}

.soc_icon {
    width: 166px;
    margin: auto;
    height: 40px;

}

.soc_icon a {
    width: 41px;
    height: 41px;
    background-color: #212a3a;
    color: #ffffff;
    border-radius: 50%;
    display: block;
    margin: 2px;
    text-indent: -9999999px;
}

.soc_icon a:hover, .soc_icon a:active, .soc_icon a:focus {
    background-color: #ee3643;
}

.col-2.construct {
    padding-left: 26px;
}

.icon {
    background: url("../images/icon-sprite.png") no-repeat;
}

.icon.vk {
    background-position: -8px -127px;
}

.icon.fb {
    background-position: -5px -174px;
}

.icon.instagram {
    background-position: -4px -217px
}

.icon.tel {
    background-position: -6px -288px;
}
